/* In rgba a represents the transparency or opacity of the background color*/

h3{
    color:rgb(170, 205, 41);
    color:#000000;
    color:hsla(100,33%,44%,.8) /* a represents the opacity of the background */
    
    background-color:red;
}
h3
{
    color:cornflowerblue;
    background-color: rgba(255,0,0,.1);
}
body{
    background-color: white;
}