body{
    background-color: beige;
}
.container
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;;
}
.para
{
    padding:1rem;
    background-color: steelblue;
    color:white;
    margin:20px;
}